*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


.container{
  width: 80%;
  margin: 100px auto;
  padding: 30px 0;
  background-color: purple;
  border-radius: 10px;
}

.row{
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #fff;
}

.row h2{
  text-align: center;
  padding: 20px 0;
}

.input{
  display: flex;
  justify-content: space-around;
}

.dati_uno, .dati_due, .dati_tre{
  display: flex;
  flex-direction: column;
}

label{
  font-size: 20px;
  text-align: center;
  margin: 20px auto;
}

.actions{
  text-align: center;
  padding: 20px;
}

.actions input{
  width: 100px;
  height: 40px;
}


/* ----------------------TABLE INSTRUCTIONS----------------------------- */
table{
  width: 100%;
  margin: auto;
}
tr, td{
  height: 30px;
  font-size: 20px;
}

tr th{
  font-size: 20px;
  text-align: left;
}

td{
  width: calc(100% / 5);
  height: 100px;
}
